html,body{
    width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}

.pointer{
    cursor: pointer;
}

*{
    list-style: none;
    text-decoration: none;
  }

  .absolute{
      position:absolute;
  }
  .avatar_width{
      width: 97px;
      height: 97px;
  }