.header_nav a:hover, a.active{
    border: 1px solid #9B9BCA;
    transition: .5s;
}
.btn_effect{
    transition: all 0.4s ease 0s;
}
.btn_effect:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
}
.service_card:hover{
    border: 1px solid #9D9D9D;
    border-radius: 5px;
    box-shadow: inset 0px -3px 0px 1px rgba(196, 196, 196, 1);
    margin-top: -2px;
}

.Q_and_A_content .Q_and_A_content-box.active .content{
    height: 160px;
}
.Q_and_A_content .Q_and_A_content-box.active .label::before{
    content: url(/assets/images/question_open_arrow.svg);
}