@import "fonts.css";
@import "mobile.css";
@import "base.css";
@import "effects.css";

.header{
    width: 100%;
    height: 737px;
    background-image: url('/assets/images/header_bakcground.png');
    background-repeat: no-repeat;
    border: 1px solid transparent;
}
.header_nav_container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 116px;
}
.header_logo{
    position:relative;
    width: 5%;
    height: 72px;
    background-image: url("/assets/images/header_logo.svg");
    background-repeat: no-repeat;
    margin-left: 245px;
}
.header_logo_text{
    position: relative;
    width: 100%;
    height: 26px;
    font-size: 22px;
    line-height: 26px;
    font-family: 'Roboto';
    margin-left: 93px;
    margin-top: 22px;
}
.header_nav{
    position: relative;
    width: 35.5%;
    margin-left: 213px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}
.header_nav li{
    display: inline-block;
    margin: 0px 0px 0px 40px;
}
.header_nav a{
    color: #717784;
    border: 1px solid transparent;
    padding: 4px 4px;
    border-radius: 4px;
}
#icon{
    font-size: 30px;
}
.nav_btn{
    position: relative;
    border-radius: 10px;
    border:none;
    background-color:#9B9BCA;
    width: 16.6%;
    height: 60px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    font-family: 'Poppins';
    margin-left: 18px;
}
.header_title{
    position: relative;
    width: 34.25%;
    height: 112px;
    margin-left: 245px;
    margin-top: 218px;
    font-size: 56px;
    line-height: 100%;
    font-family: 'DM Serif Display';
    color: #696A86;
}
.header_title_text{
    position: relative;
    width: 46.9%;
    height: 81px;
    margin-top: 30px;
    margin-left: 245px;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins';
    color: #696A86;
}
.header_get_started{
    position: relative;
    width: 6.5%;
    margin-left: 245px;
    margin-top: 30px;
    padding: 20px 65px;
    background-color: #9B9BCA;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins';
}
#icon{
    display:none;
}
.service{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_title{
    position:relative;
    width: 20.56%;
    height: 39px;
    margin-top: 91px;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Poppins';
    line-height: 39px;
    color: #626780;
}
.service_title_text{
    position: relative;
    width: 46.6%;
    height: 90px;
    margin-top: 12px;
    font-family: 'Poppins';
    font-size: 18px;
    color: #626780;
    line-height: 40px;
    text-align: center;
}
.service_card_container{
    width:75.5%;
    display:flex;
    height: 250px;
    justify-content: space-between;
    margin-top: 162px;
}
.service_card{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 261px;
    height: 250px;
    border: 1px solid transparent
}
.service_card_icon{
    margin-top: 24px;
}
.service_card_title{
    height: 40px;
    margin-top: 21px;
    font-size: 22px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #626780;
}
.service_card_text{
    height: 60px;
    width: 95%;
    margin-top: 12px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-family: 'Poppins';
    color: #626780;
}
.support{
    width: 100%;
    height: 700px;
    display:flex;
    align-items: center;
}
.support_container{
    position: relative;
    width: 32%;
    height: 175px;
    margin-left: 245px;
    color: #626780;
}
.support_title{
    position:relative;
    width: 100%;
    height: 39px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
}
.support_title_text{
    position: relative;
    width: 91%;
    height: 120px;
    margin-top: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
}
.support_schema{
    position:relative;
    width: 36.18%;
    height: 420px;
    margin-left: 45px;
}
.support_schema_bg{
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: -50px;
    margin-left: 0px;
}
.support_avatar_1{
    top: 200px;
    left: 2px;
}
.support_avatar_2{
    left: 130px;
    top: 80px;
}
.support_avatar_3{
    left: 200px;
    top: -25px;
}
.support_avatar_4{
    left: 225px;
    top: 285px;
}
.support_avatar_5{
    left: 455px;
    top: 300px;
}
.support_avatar_6{
    left: 490px;
    top: 10px;
}
.video_title{
    width: 34.37%;
    height: 200px;
    margin-left: 242px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    color: #402B2B;
}
.video_file{

}